@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

main {
  background-image: url(./assets/bg.png);
}
